@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
  --unfocused-border-color: #eaeaea;
  --focused-border-color: #666;

  --button-disabled-color: #fafafa;
  --disabled-text-color: #999;

  --geist-border-radius: 5px;
  --geist-quarter-pad: 6px;
  --geist-half-pad: 12px;
  --geist-pad: 24px;
  --geist-font: "Inter";

  --geist-error: #e00;

  --subtitle: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --unfocused-border-color: #333;
    --focused-border-color: #888;
    --foreground: #fff;
    --button-disabled-color: #111;
    --geist-error: red;
    --subtitle: #8d8d8d;
  }
}

@theme {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-unfocused-border-color: var(--unfocused-border-color);
  --color-focused-border-color: var(--focused-border-color);
  --color-button-disabled-color: var(--button-disabled-color);
  --color-disabled-text-color: var(--disabled-text-color);
  --color-geist-error: var(--geist-error);
  --color-subtitle: var(--subtitle);
  --padding-geist-quarter: var(--geist-quarter-pad);
  --padding-geist-half: var(--geist-half-pad);
  --padding-geist: var(--geist-pad);
  --spacing-geist: var(--geist-pad);
  --spacing-geist-half: var(--geist-half-pad);
  --spacing-geist-quarter: var(--geist-quarter-pad);
  --radius-geist: var(--geist-border-radius);
  --font-geist: var(--geist-font);
  --animate-spinner: spinner 1.2s linear infinite;

  @keyframes spinner {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0.15;
    }
  }
}

/* Carousel Styles */
.carousel-app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.carousel-container {
  position: relative;
  width: 90%;
  height: 85%;
  perspective: 500px;
  transform-style: preserve-3d;
}

.carousel-card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform:
    rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.carousel-card {
  width: 100%;
  height: 100%;
  padding: 3rem;
  background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 50%));
  border-radius: 1.5rem;
  color: #9CA3AF;
  text-align: justify;
  transition: all 0.3s ease-out;
  overflow-y: auto;
}

.carousel-card h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 0.7em;
  color: #1F2937;
  transition: all 0.3s ease-out;
  opacity: var(--active);
}

.carousel-card p {
  font-size: 1.25rem;
  line-height: 1.6;
  transition: all 0.3s ease-out;
  opacity: var(--active);
}

.carousel-nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
}

.carousel-nav.left {
  transform: translateX(-100%) translateY(-50%);
}

.carousel-nav.right {
  right: 0;
  transform: translateX(100%) translateY(-50%);
}